/* @font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
} */

@font-face {
  font-family: 'Nunito';
  src: url('./assets/fonts/Nunito/Nunito-Bold.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}

*{
  font-family: 'Nunito', sans-serif;
}

.hovers {
  transition: transform 0.2s, box-shadow 0.2s;
  cursor: pointer;
}

.hovers:hover {
  transform: translateY(-5px); /* lifts the card */
  box-shadow: 0 8px 20px rgba(0,0,0,0.2); /* adds shadow */
}

/* Make sure this is in your main CSS file */
.table-dark {
  background-color: #182235 !important;
  color: white !important;
}

.table-dark th {
  background-color: #182235 !important;
  border-color: #2d3a52;
}

.modal-header{
  background-color:#182235
}

.add{
  background-color:#182235
}
.add:hover{
   background-color:#182235
}

